<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
    <title>Document</title>
</head>

<body>
    <div class="sect">
        <div class="top">
            <h2 id="text">Find Movies</h2>
            <form action='/recommend' method="post" class="d-flex" role="search" id="search">
                <input class="form-control me-2" type="search" placeholder="Avatar" aria-label="Search" name="nm">
                <button type="submit" class="btn btn-outline" type="submit" id="butt">Search</button>
            </form>
        </div>
    </div>
</body>

</html>